*{
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    list-style: none;
    scroll-behavior: smooth;
}

/* header section*/
.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(7px) ;
    background-color: rgba(255, 255, 255, 0.20);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);     
    position: relative;
    width: 100%;
    padding: 10px 20px;

        .logoImage{
            font-size: 35px;
            font-family: "Dancing Script", cursive;
            font-weight: bold;
            color: #393838;
            height: auto;
            width: 100%;
            cursor: pointer;
        }
}
.sticky
{
    position: fixed;
    background-color: rgba(255, 255, 255);
    top: 0;
    z-index: 1;
    transition: .3s ease-in-out;
}


.navigation-bar ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    padding: 10px 20px;
}

.navigation-bar ul li{
    color: #393838;
    display: inline-block;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
.navigation-bar ul li:hover{
    color: #56baff;
}

/* main section */

.main-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    position: relative;
}
.profil-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
.profil{
    width: 25rem;
    height: auto;
    border-radius: 50%;
}
.text{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.text p,h1,h2{
    font-size: 40px;
    font-family: "Dancing Script", cursive;
    padding: 10px 50px;
    width: 100%;
    color: #393838;
    letter-spacing: 1px;
}

.contact-area{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    margin-left: 3rem;
}
.contact-giticon,
.contact-linkicon,
.contact-mailicon{
    font-size: 2rem;
    color: #393838;
    transition: 0.5s;
    margin-right: 1rem;
}
.contact-linkicon:hover{
    transform: translateY(-10px);
    color: #0077B5;
}
.contact-giticon:hover{
    transform: translateY(-10px);
    color:#000000;
}
.contact-mailicon:hover{
    transform: translateY(-10px);
    color: #56baff;
}
/* about & projects section*/

.about-container h1,
.projects-container h1{
    text-align: center;
    font-size: 3rem;
    opacity: 0.8;
    font-family: "Roboto", sans-serif;
}
.about-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    margin-top: 5rem;
    backdrop-filter: blur(7px) ;
    background-color: rgba(255, 255, 255, 0.20);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);     
}
.about-section p,
.project-section p{
    font-size: 30px;
    font-family: "Dancing Script", cursive;
    padding: 5px 25px;
    width: 100%;
    letter-spacing: 1px;
    margin-top: 2rem;
    text-align: center;
    color: #000000;
}
.project-section{
    margin-top: 5rem;
}

.project-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    backdrop-filter: blur(7px) ;
    background-color: rgba(255, 255, 255, 0.20);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);     
    width: 90%;
    margin-top: 5rem;
}
.card h3{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    margin-top: 2rem;
}
.card p{
    font-size: 25px;
    font-family: "Dancing Script", cursive;
    padding: 15px 20px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
}
.languages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}
.languages img{
    width: 2rem;
    height: auto;
    margin-right: 1rem;
}
.card video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    margin-top: 1rem;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.icons a {
    font-size: 25px;
    color: #000000;
    margin-right: 2rem;
}
.icons a:hover{
    text-decoration: underline 0.5px;
}
.icon{
    margin-left: 0.5rem;
}





/* scroll to top icon*/

.top-button{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100px;
}



