*{
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    list-style: none;
    scroll-behavior: smooth;
    background-color: #393838;

}

.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #393838;
    position: relative;
    width: 100%;
    padding: 10px 20px;
}
.sticky
{
    position: fixed;
    box-shadow: 0px 0px 10px rgb(0 0 0/10%);
    top: 0;
    z-index: 2;
    transition: .3s ease-in-out;
}
.logoImage{
    object-fit: cover;
    height: auto;
    width: 6rem;
    cursor: pointer;
}

.navigation-bar ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    padding: 10px 20px;
}

.navigation-bar ul li{
    color: #F3F4E7;
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
}
.active{
    position: relative;
    text-decoration: none;
}
.active:after {
    content: "";
    position: absolute;
    background-color:#F3F4E7;
    font-size: small;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.active:hover:after {
    width: 100%;
}
.main-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    position: relative;
}
.profil-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
.profil{
    width: 25rem;
    height: auto;
    border-radius: 50%;
}
.text{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.text p,h1,h2{
    font-size: 40px;
    font-family: "Dancing Script", cursive;
    padding: 10px 50px;
    width: 100%;
    color: #F3F4E7;
    letter-spacing: 1px;
}
.about-container h1,
.projects-container h1{
    text-align: center;
    font-size: 5rem;
    margin-top: 15rem;
    text-shadow: 1px 13px 5px #aba8a8,
    1px 3px 0 #969696
    ;
    font-family: "Roboto", sans-serif;
}
.about-section,
.ptoject-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.about-section p,
.ptoject-section p{
    font-size: 35px;
    font-family: "Dancing Script", cursive;
    padding: 25px 50px;
    width: 100%;
    letter-spacing: 1px;
    margin-top: 2rem;
    color: #F3F4E7;
}

.number p{
    font-size: 30rem;
    width: 100%;
    height: auto;
    opacity: 0.5;
}
.project-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-radius: 16px;
    background-color: #F3F4E7;
    width: 90%;
}
.card h3{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    margin-left: 2rem;
    margin-top: 2rem;
}
.card p{
    font-size: 25px;
    font-family: "Dancing Script", cursive;
    margin-left: 2rem;
    margin-top: 2rem;
}
.languages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 2rem;

}
.languages img{
    width: 2rem;
    height: auto;
}
.card video{
    display: flex;
    justify-content: center;
    width: 70%;
    height: auto;
}

