*{
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    list-style: none;
    scroll-behavior: smooth;
}

/* header section*/
.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(7px) ;
    background-color: rgba(255, 255, 255, 0.20);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);     
    position: relative;
    width: 100%;
    padding: 10px 20px;

        
}
.logoImage{
    font-size: 35px;
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    color: #393838;
    height: auto;
    width: 100%;
    cursor: pointer;
}
.sticky
{
    position: fixed;
    background-color: rgba(255, 255, 255);
    top: 0;
    z-index: 1;
    transition: .3s ease-in-out;
}


.navigation-bar ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    padding: 10px 20px;
}

.navigation-bar ul li{
    color: #393838;
    display: inline-block;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
.navigation-bar ul li:hover{
    color: #56baff;
}

/* hamburger menu*/

.navigation-bar ion-icon{
    display: none;
    color: #393838;
    font-size: 40px;
    cursor: pointer;
    opacity: 0.8;
}
.navigation-bar ion-icon:hover {
    opacity: 1;
}

.navigation-bar ul.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 300px;
    height: 500px;
    top: 62px;
    right: 0;
    background-color: #000000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 2;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    transition: .3s ease-in-out;
}

.navigation-bar ul.menu li {
  margin: 15px 0;
  display: flex;
}

.navigation-bar ul.menu .close{
    display: none;
}

/* main section */

.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /* position: relative; */
}
.profil-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
.profil{
    width: 25rem;
    height: auto;
    border-radius: 50%;
}
.text{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.text p,h1,h2{
    font-size: 40px;
    font-family: "Dancing Script", cursive;
    padding: 5px 50px;
    width: 100%;
    color: #393838;
    letter-spacing: 1px;
}

.contact-area{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    margin-left: 3rem;
}
.contact-giticon,
.contact-linkicon,
.contact-mailicon{
    font-size: 2rem;
    color: #393838;
    transition: 0.5s;
    margin-right: 1rem;
}
.contact-linkicon:hover{
    transform: translateY(-10px);
    color: #0077B5;
}
.contact-giticon:hover{
    transform: translateY(-10px);
    color:#000000;
}
.contact-mailicon:hover{
    transform: translateY(-10px);
    color: #56baff;
}
/* about & projects section*/

.about-container h1,
.projects-container h1{
    text-align: center;
    font-size: 3rem;
    opacity: 0.8;
    font-family: "Roboto", sans-serif;
}
.about-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    margin-top: 5rem;
    backdrop-filter: blur(7px) ;
    background-color: rgba(255, 255, 255, 0.20);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);     
}
.about-section p,
.project-section p{
    font-size: 25px;
    font-family: "Roboto";
    padding: 5px 25px;
    width: 100%;
    letter-spacing: 1px;
    margin-top: 2rem;
    text-align: center;
    color: #000000;
}
.about-photo{
    width: 30rem;
}
.project-section{
    margin-top: 5rem;
}

.project-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    backdrop-filter: blur(7px) ;
    background-color: rgba(255, 255, 255, 0.20);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);     
    width: 90%;
    margin-top: 5rem;
}
.card h3{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    margin-top: 2rem;
}
.card p{
    font-size: 20px;
    font-family: "Roboto";
    padding: 15px 20px;
    text-align: center;
    letter-spacing: 1px;
}
.languages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}
.languages img{
    width: 2rem;
    height: auto;
    margin-right: 1rem;
}
.card video{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    margin-top: 1rem;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.icons a {
    font-size: 25px;
    color: #000000;
    margin-right: 2rem;
}
.icons a:hover{
    text-decoration: underline 0.5px;
}
.icon{
    margin-left: 0.5rem;
}





/* scroll to top icon*/

.top-button{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100px;
}

/* Footer */

.footer-section{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px 50px;
    background: #3586ff;
    margin-top: 10rem;

}
.footer-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;

    #icon{
        margin-right: 0.5rem;
    }
    #copyright{
        font-family: "roboto";
        font-size: 15px;
        color: #fff;
    }
}
.footer-container p{
    color: #fff;
}


.footer-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10%;
    height: auto;

}
.footer-giticon,
.footer-linkicon,
.footer-mailicon{
    font-size: 2rem;
    color: #fff;
    transition: 0.5s;
    margin-right: 1rem;
}
.footer-linkicon:hover{
    transform: translateY(-10px);
    color: #000000;
}
.footer-giticon:hover{
    transform: translateY(-10px);
    color: #000000;
}
.footer-mailicon:hover{
    transform: translateY(-10px);
    color: #000000;
}

.wave{
    display: flex;
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('../images/wave.png');
    background-size: 1000px 100px;
}
.wave#wave-1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
.wave#wave-2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave-02 4s linear infinite;
}
.wave#wave-3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
.wave#wave-4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave-02 3s linear infinite;
}

@keyframes animateWave {
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x:0px; 
    }
    
}
@keyframes animateWave-02 {
    0%{
        background-position-x : 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}

@media (max-width: 827px){
    .text p,h1,h2{
        font-size: 30px;
    }
    .profil{
        width: 20rem;
    }
    .about-section p,
    .project-section p{
        font-size: 20px;
   
    }
    .about-photo{
        width: 20rem;
    }
}

@media (max-width:735px) {
    .navigation-bar ul {
        flex-direction: column;
        justify-content: center;
    }
    .navigation-bar ion-icon {
        display: block;
    }
    .navigation-bar ul li{
        display: none;
    }
    .navigation-bar ul.menu li {
        font-size: medium;
        color: #fff;
    }
    .text p,h1,h2{
        text-align: center;

    }
    .about-section{
        display: flex;
        flex-direction: column;
        height: 600px;
    }
    .profil-section{
        display: flex;
        flex-direction: column;
    }
    .text{
        margin-top: 1rem;
    }
    .contact-area{
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    .footer-container{
        justify-content: space-between;
    }
}
 